[Unit]

Description=Yugabyte TServer
After=network.target
Wants=yb-master

[Service]

ExecStart={{ yugabytedb_folder }}/bin/yb-tserver \
  --tserver_master_addrs {{ groups['yugabytedb'] | map('extract', hostvars, ['ansible_ssh_host']) | join(':7100,') }}:7100 \
  --rpc_bind_addresses {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} \
  --pgsql_proxy_bind_address {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:5433 \
  --cql_proxy_bind_address {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:9042 \
  --fs_data_dirs "/opt/ybdata" --placement_cloud pve --placement_region be --placement_zone {{ placement_zone }}

[Install]

WantedBy=default.target
